.pageDiv {
    width: 100vw;
    height: 100vh;
    background-color: #09f;
    color: white;
    align-content: center;
    text-align: center;
}

.pageImg {
    margin: auto;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

.pageParra {
    margin: auto;
    color: white;
}