.general {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.contain {
  width: 40%;
  min-width: 240px;
  padding: 10px;
  border: 2px solid black;
  box-shadow: 4px 4px 0px rgb(0, 0, 0);
  background-color: #fff;
  border-radius: 10px;
}

.divBotones {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.botonSe {
  width: calc(50% - 5px);
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 20px;
  background-color: inherit;
}

.botonSelect {
  width: calc(50% - 5px);
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  font-size: 20px;
  background-color: #09f;
  color: white;
  border: none;
  cursor: pointer;
}

.botonSe:hover {
  background-color: #09f;
  color: white;
  border-color: #09f;
  cursor: pointer;
}

.inputText {
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
  width: calc(100% - 14px);
  border: none;
  border-bottom: 2px solid black;
}

.boxBoton {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.botonQr:hover {
  background-color: #09f;
  color: white;
  border-color: #09f;
  cursor: pointer;
}

.botonSubmit {
  margin-top: 10px;
  width: calc(100%);
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
  border: 2px solid black;
  font-size: 20px;
  background-color: inherit;
}

.botonSubmit:hover {
  background-color: #09f;
  color: white;
  border-color: #09f;
  cursor: pointer;
}

.textArea {
  width: calc(100% - 14px);
  margin-top: 10px;
  padding: 5px;
  border-radius: 5px;
  border: none;
  border-top: 2px solid black;
  border-left: 2px solid black;
  height: 20vh;
  font-size: 15px;
}

.imgQr {
  width: 400px;
  height: 400px;
  padding: 5px;
  border-radius: 5px;
}