.navContain {
  width: 15vw;
  min-width: 200px;
  min-height: 100vh;
  background-color: #09f;
}

.linkNav {
  color: #eee;
  padding-left: 20px;
  cursor: pointer;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  display: block;
}

.linkNav:hover {
  background-color: #eee;
  color: #000;
}

.tituloNav {
  padding: 20px;
}