.navContain {
  max-width: 75%;
  min-width: 500px;
  padding: 10px;
  margin: auto;
  background-color: #09e;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border: 2px solid black;
  box-shadow: 4px 4px 0px black;
  border-radius: 10px;
}

.navLinkCont {
  display: flex;
  min-width: 500px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.linkNav {
  margin: auto;
  color: #000;
  cursor: pointer;
  text-decoration: none;
}

.linkNavSelect {
  margin: auto;
  color: #eee;
  cursor: pointer;
  border-radius: 5px;
  text-decoration: none;
}

.linkNavSelect:hover {
  color: #777;
}

.linkNav:hover {
  color: #777;
}

.tituloNav {
  padding: 10px;
}