.navContain {
  height: 8vh;
  width: 75%;
  background-color: #09e;
  display: flex;
  justify-content: space-between;
  border: 2px solid black;
  box-shadow: 4px 4px 0px black;
  border-radius: 10px;
}

.navLinkCont {
  display: flex;
}

.linkNav {
  margin: auto;
  color: #000;
  cursor: pointer;
  padding: 25px;
  text-decoration: none;
}

.linkNavSelect {
  margin: auto;
  color: #eee;
  cursor: pointer;
  border-radius: 5px;
  padding: 25px;
  text-decoration: none;
}

.linkNavSelect:hover {
  color: #777;
}

.linkNav:hover {
  color: #777;
}

.tituloNav {
  padding: 20px;
  align-items: center;
}