.navContain {
  height: 8vh;
  width: 75%;
  background-color: #09f;
  display: flex;
  margin: auto;
  border: 2px solid black;
  box-shadow: 4px 4px 0px black;
  border-radius: 10px;
}

.navLinkCont {
  display: flex;
  margin: auto;
}

.linkNav {
  color: #eee;
  cursor: pointer;
  padding: 20px;
  text-decoration: none;
}

.linkNavSelect {
  color: #000;
  cursor: pointer;
  background-color: rgb(255, 255, 255, 25%);
  border-radius: 5px;
  padding: 20px;
  text-decoration: none;
}

.linkNavSelect:hover {
  color: #555;
}

.linkNav:hover {
  color: #555;
}

.tituloNav {
  padding: 20px;
  align-items: center;
}