.pageGeneral {
    margin-top: 10px;
    width: 100%;
    height: calc(90vh - 10px);
    align-content: center;
}

.divParrafo {
    max-width: 50%;
    min-width: 500px;
    padding: 10px;
    border: 2px solid black;
    box-shadow: 4px 4px 0px rgb(0, 0, 0);
    background-color: #fff;
    border-radius: 10px;
    margin: auto;
}