.imgDiv {
    width: 400px;
    min-width: 400px;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid black;
    box-shadow: 4px 4px 0px rgb(0, 0, 0);
    background-color: #fff;
    text-align: center;
    margin: auto;
}

.inputText {
    margin-top: 10px;
    padding: 5px;
    border-radius: 5px;
    font-size: 20px;
    width: calc(100% - 14px);
    border: none;
    border-bottom: 2px solid black;
}

.boxBoton {
    width: 100%;
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
}

.botonQr {
    width: calc(50% - 5px);
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    border: 2px solid black;
    font-size: 20px;
    background-color: inherit;
}

.botonQr:hover {
    background-color: #09f;
    color: white;
    border-color: #09f;
    cursor: pointer;
}

.imgQr {
    width: 240px;
    height: 240px;
    border-radius: 5px;
}